.container{
    width: 980px;
    height: 1080px;
    position: relative;
}

.navbar{
    position: absolute;
    top:10px ;
    color: red;
    display: flex;
    gap: 40px;
    list-style: none;
    background-color: aqua;
    left: 990px;
}